@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-beetwen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-gap($gap: 10) {
  display: flex;
  gap: #{$gap};
}

@mixin px-to-rem($property, $value) {
  $remValue: $value / 16;
  $pxValue: ($value);
  #{$property}: #{$remValue}rem;
}
