:root {
  --color-white: #ffffff;

  --color-white-1: #fafafa;

  --color-black: #000000;

  --color-black-1: #222;

  --color-black-2: #333;

  --color-gray-dark: #7d7d7d;

  --color-green-light: #2EE5AC;

  --color-pink: #e14165;

  --color-gray-light-1: #ebebeb;

  --color-purple: #c2c2ff;

  --color-blue-purple: #8686ff;

  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Nunito", sans-serif

  --main-font-size: 12px;
  --main-font-weight: 400;
  
  --container-max-width: 954px;
  --container-padding-x: 50px;
  --duration: 0.3s;
}
