:root {
  --color-white: #ffffff;

  --color-black: #000000;

  --color-black-1: #222;

  --color-green-light: #2EE5AC;

  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Nunito", sans-serif

  --main-font-size: 12px;
  --main-font-weight: 400;
  
 
  --duration: 0.3s;
}
