body {
  font-family: var(--font-family);
  background: var(--color-white);
  width: 100%;
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--color-black-1);
}

div#root {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
}

main {
  width: 100%;
  @include px-to-rem(padding-top, 41px);
  @include px-to-rem(padding-bottom, 47px);
}

.container {
  margin-inline: auto;
  max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  width: 100%;
}

.back_button {
  position: sticky;

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }
}
