body {
  font-family: var(--font-family);
  background: var(--color-white);
  width: 100%;
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--color-black-1);
}

div#root {
  $top-padding: 41;
  $bottom-padding: 47;

  --top-padding: #{$top-padding}px;
  --bottom-padding: #{$bottom-padding}px;

  --height: 100dvh;
  @include flex-column;
  margin: 0 auto;
  height: var(--height);
  max-height: var(--height);
  background-color: var(--color-white-1);
  @include px-to-rem(padding-top, $top-padding);
  @include px-to-rem(padding-bottom, $bottom-padding);
}

main {
  width: 100%;
  flex-grow: 1;
}

.container {
  margin-inline: auto;
  max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  width: 100%;
}

.back_button {
  position: sticky;

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }
}
