.root {
  background-color: var(--color-white);
  @include px-to-rem(border-radius, 3);

  justify-content: space-between;
  align-items: stretch;
  @include px-to-rem(gap, 20);
  @include px-to-rem(padding-right, 12);
  @include px-to-rem(min-width, 740);

  @include px-to-rem(margin-top, 5);
  max-width: 100%;
  transition-duration: var(--duration);

  display: flex;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
}

.test_name_container {
  color: var(--color-black-2);
  align-items: stretch;
  @include px-to-rem(gap, 11);
  @include px-to-rem(font-size, 13);
  font-weight: 500;
  display: flex;
}
.test_indicator {
  @include px-to-rem(border-top-left-radius, 3);
  @include px-to-rem(border-bottom-left-radius, 3);
  flex-shrink: 0;
  @include px-to-rem(width, 4);
  @include px-to-rem(height, 70);
  display: flex;
}
.red_indicator {
  background-color: var(--color-pink);
}
.purple_indicator {
  background-color: var(--color-purple);
}
.blue_purple_indicator {
  background-color: var(--color-blue-purple);
}
.test_name {
  flex-basis: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.test_details_container {
  color: #5c5c5c;
  white-space: nowrap;
  flex-wrap: wrap;
  align-items: center;
  @include px-to-rem(row-gap, 40);
  @include px-to-rem(column-gap, 75);
  margin-top: auto;
  margin-bottom: auto;
  @include px-to-rem(font-size, 12);
  font-weight: 400;
  display: flex;
}
.test_type {
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}
.test_status {
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}
.status_online {
  color: #1bda9d;
}
.status_paused {
  color: #ff8346;
}
.status_stopped {
  color: #fe4848;
}
.test_site {
  flex-basis: auto;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}
.action_button {
  color: var(--color-white);
  text-align: center;
  border-radius: 10px;
  align-self: stretch;
  padding: 11px 26px;
  font-family: var(--second-family);
  font-weight: 600;
}
