.root {
  @include px-to-rem(min-width, 740);
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
  @include px-to-rem(padding-left, 11);
  @include px-to-rem(padding-right, 240);
  @include px-to-rem(margin-bottom, 10);

  button {
    font-weight: 500;
    @include px-to-rem(font-size, 11);
    text-transform: uppercase;
    color: var(--color-gray-dark);

    text-align: center;
  }

  &__block {
    display: flex;
    @include px-to-rem(column-gap, 80);
    @include px-to-rem(margin-left, 30);
  }
}
