.root {
  @include px-to-rem(10, border-radius);
  @include px-to-rem(12, font-size);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  font-family: var(--second-family);
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-gray-dark);
  height: 30px;
  border-radius: 10px;
}

.complete_accent {
  background-color: var(--color-green-light);
}

// secondary
