.root {
  overflow-y: auto;
}

.content {
  @include flex-column;
  @include px-to-rem(row-gap, 5);
}

.not_found {
  align-items: center;
  @include flex-column;
  @include px-to-rem(row-gap, 61);
  justify-content: center;
  height: 100%;
  @include px-to-rem(margin-top, 149);
}

.not_found_text {
  @include px-to-rem(font-size, 24);

  font-weight: 500;
  color: var(--color-black);
}

.action_button {
  color: var(--color-white);
  text-align: center;
  border-radius: 10px;
  align-self: stretch;
  padding: 11px 26px;
  font-family: var(--second-family);
  font-weight: 600;
}
