.root {
  --color: var(--color-white);
  --width: 8px;
  --height: 40px;

  width: var(--width);
  height: var(--height);
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: var(--color);
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
  cursor: wait;

  &::after,
  &::before {
    content: "";
    width: var(--width);
    height: var(--height);
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s 0.45s linear infinite alternate;
  }

  &::before {
    left: -20px;
    animation-delay: 0s;
  }
}

@keyframes animloader {
  0% {
    height: calc(var(--height) + 8px);
  }
  100% {
    height: 4px;
  }
}
