// @use "../../app/styles/mixins";

.root {
  width: 100%;
}

.container_text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  @include px-to-rem(margin-bottom, 40);
}

.title,
.sub_title {
  font-family: var(--second-family);

  color: var(--color-black-1);
}

.title {
  font-weight: 700;
  @include px-to-rem(font-size, 26);
}

.sub_title {
  font-weight: 600;
  @include px-to-rem(font-size, 12);
}
