@use "../../app/styles/mixins";

.root {
  width: 100%;
}

.container_text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.title,
.sub_title {
  font-family: var(--second-family);

  color: var(--color-black-1);
  font-weight: 600;
}

.title {
  @include px-to-rem(font-size, 14px);
}

.sub_title {
  @include px-to-rem(font-size, 12px);
}
